.pageline {
    width: 100%;
    display: inline-flex;
    height: 60px;
}

.pagePraise {
    display: inline-flex
}

.tag {
    width: inherit;
    padding: .03rem .08rem;
    background: #fff;
    font-size: x-large;
    border-radius: 5px !important;
    border: 1px solid !important
}

.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center
}

.marginRight12 {
    margin-right: 1rem;
    text-align: center;
}

.color1 {
    color: #ff7642;
    border: .014rem solid #ff7642
}

.color2 {
    color: #8a14ff;
    border: .014rem solid #8a14ff
}

.color3 {
    color: #14a1ff;
    border: .014rem solid #14a1ff
}

.flex-align-center {
    display: flex;
    align-items: center
}

.page-box-right {
    min-width: max-content;
    font-size: x-large;
    color: #cb9d59;
    padding: .07rem .08rem;
    box-sizing: border-box;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0 5px 5px 0
}

.page-box-left {
    width: max-content;
    padding: .07rem .08rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px 0 0 5px !important
}

.praise {
    width: 150px
}

.rightbar {
    width: 100px !important
}

.list-partner li {
    display: inline-block;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px
}

.list-partner img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #efefef;
    vertical-align: top;
    border-radius: 2px
}

.list-links a {
    display: inline-block;
    margin: 0 15px 12px 0;
    color: #999;
    line-height: 1
}

@media(max-width:768px) {
    .list-partner li {
        width: auto !important
    }

    .marginRight12 {
        margin-right: 0rem;
        font-size: small;
    }
    .ptitle{
        font-size: 6px;
    }
}

.toolbar-right {
    width: 35px;
    height: 70px;
    position: fixed;
    right: 0;
    bottom: 70px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 4px 0 #ccc;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 4px
}

.toolbar-right .service {
    background-image: url(/img/service.svg);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.toolbar-right .service,
.toolbar-right .feedback {
    display: inline-block;
    height: 75px;
    width: 35px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13.5px
}

.add-btn {
    position: fixed;
    right: 0px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border-radius: 50px 0px 0px 50px;
    display: inline-block;
    padding: 3px 9px;
    color: #fff;
}

.detail {
    top: 120px;
    background-color: #23c6c8;
    border-color: #23c6c8;
}

.query {
    top: 80px;
    background-color: #1ab394;
    border-color: #1ab394;
}

.gzh {
    top: 40px;
    background-color: #1ab394;
    border-color: #1ab394;
}

iframe::-webkit-scrollbar {
    width: 0px
}

.footer {
    flex-wrap: nowrap !important;
    position: fixed;
    bottom: 0px;
    left: 0;
    margin: 0 auto;
    width: 100%;
    background: antiquewhite;
}

.bj {
    width: 100%;
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}